body {
  margin: 0;
  background-color: black;
}

.container {
  width: 50%;
  margin: 10px auto;
  padding: 0;
  box-sizing: border-box;
}

.main-picture {
  width: 100%;
  height: 30%
}

.gallery {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.image-box {
  width: 20%;
  box-sizing: border-box;
}

.picture {
  object-fit: cover;
  height: 100%;
  padding: 30%;
}

.image-box .picture {
  position: relative;
  width: 100%;
}

.image-box .wrapper.hidden {
  overflow: hidden;
  height: 0;
  transition: scale 1s;
}

.image-box:hover {
  transition: transform 1s;
  transform: scale(1.4);
  z-index: 2;
}

.image-box:hover .wrapper.hidden {
  height: 55px;
  background-color: grey;
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}

.imag-name {
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0 0 10px;
  color: white;
}

.imag-size {
  font-size: 10px;
  margin: 0 0 0 10px;
  padding: 0;
  color: white;
  display: inline-block;
  float: left;
}

.imag-url {
  color: springgreen;
  display: inline-block;
  float: left;
  font-size: 12px;
  margin: 0 0 0 5px;
  padding: 0;
}
