body {
  margin: 0;
}

.container {
  width: 500px;
  margin: 10px auto;
  padding: 0;
  box-sizing: border-box;
}

.main-picture {
  width: 500px;
}

.gallery {
  align-items: center;
  justify-content: center;
}

.picture {
  height: 150px;
}
